@tailwind base;
@tailwind components;
@tailwind utilities;

.globalTransition {
  @apply ease-in-out duration-300 transition;
}

/* Bank Logo Carousel */
@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.logo-box.slide-out {
  animation: slideOut 1s forwards; /* Adjust the duration as needed */
}

/* .dot-grid-bg {
  background: url("../src/assets/Dot-grid.png") center/cover no-repeat;
}
.dot-grid-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 20;
} */
