@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-black;
}

p {
  @apply md:text-lg;
}

.globalTransition {
  @apply transition-all duration-500 ease-out;
}

/* Bank Logo Carousel */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.companyContainer:hover .logosContainer {
  animation-play-state: paused;
}

.animate-scroll {
  animation: 8s scroll infinite linear;
  will-change: transform;
}

.shadow-overlay {
  background: url("../src/assets/homePage/heroShadowOverlay.png") center/cover
    no-repeat;
}
.abstract-bg {
  background: url("../src/assets/homePage/Abstract-Background.png") center/cover
    no-repeat;
}

.bg-vignette {
  background: radial-gradient(ellipse, #002a13 65%, #0e0e0e 100%);
}

/* Custom Scrollbar Styles */
.scroll-container::-webkit-scrollbar {
  scrollbar-width: none;
}
.scroll-container {
  scrollbar-width: none;
}
