@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-black;
}

.globalTransition {
  @apply transition-all duration-500 ease-out;
}

/* Bank Logo Carousel */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.companyContainer:hover .logosContainer {
  animation-play-state: paused;
}

.animate-scroll {
  animation: 8s scroll infinite linear;
  will-change: transform;
}

.shadow-overlay {
  background: url("../src/assets/homePage/heroShadowOverlay.png") center/cover
    no-repeat;
}
.abstract-bg {
  background: url("../src/assets/homePage/Abstract-Background.png") center/cover
    no-repeat;
}

.bg-vignette {
  background: radial-gradient(ellipse, #002a13 65%, #0e0e0e 100%);
}

/* Custom Scrollbar Styles */
.scroll-container::-webkit-scrollbar {
  scrollbar-width: none;
}
.scroll-container {
  scrollbar-width: none;
}

.solutionPage p {
  @apply md:text-lg;
}

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
  z-index: 1000; /* Ensure the navbar stays on top of other content */
}
