@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-black;
}

.globalTransition {
  @apply transition-all duration-500 ease-out;
}



/* Bank Logo Carousel */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.companyContainer:hover .logosContainer {
  animation-play-state: paused;
}

.animate-scroll {
  animation: 8s scroll infinite linear;
}

.dot-grid-bg {
  background: url("../src/assets/dotGrid.png") center/cover no-repeat;
}
